body {
    background-color: #70c7e9;
    font-family: 'Titillium Web', sans-serif;
}

.container-md {
    padding-top: 20px;
    padding-bottom: 20px;
}

#title {
    font-weight: 700;
    font-size: 300%;
}

img {
    border-radius: 50%;
}


@media only screen and (max-width: 768px) {
    img {
        max-width: 70%;
        height: auto;
        width: auto\9; /* for ie8... */
    }
}