body {
    background-color: #F4BB44;
    /*94dfff*/
    font-family: 'Titillium Web', sans-serif;
}

.container-md {
    padding-top: 40px;
    padding-bottom: 20px;
}

#slogan {
    font-size: 180%;
    font-weight: 600;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px 20px 15px 20px;
}

.description {
    padding-top: 15px;
    padding-bottom: 15px;
}

.project-header {
    font-size: 150%;
    font-weight: 700;
}

.heading {
    font-size: 100%;
    font-weight: 600;
}

#title {
    font-weight: 700;
    font-size: 1000%;
    line-height: 1;
}

#secondary-title {
    font-weight: 700;
    font-size: 300%
}

ol {
    list-style: none;
    counter-reset: item;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline-end: 40px;
}

ol li {
    counter-increment: item;
}

ol li::before {
    content: counter(item)".";
    font-weight: 800;
    padding-right: 20px;
}

p, ol {
    font-size: 120%;
    line-height: 1.8;
}


@media only screen and (max-width: 768px) {
    img {
        max-width: 70%;
        height: auto;
        width: auto\9; /* for ie8... */
    }
}